
<div class="page">
    @if(isConnected()) {
        <nav>
            <ul>
                @if(authService.hasRole('admin')) {
                    <li>
                        <a routerLink="eventType">Type d'evenement</a>

                    </li>
                }
                <li>
                    <a routerLink="events">Liste des évenements</a>
                </li>
                <li>
                    <span (click)="authService.disconnect()">Déconnexion</span>
                </li>
                <li>
                    <span (click)="modifyToken()">Alterner token</span>
                </li>
            </ul>
        </nav>
        <main>
            <router-outlet></router-outlet>
        </main>
    }
    @else {
        <app-login></app-login>
    }
   
<!-- {{iban | iban}} <br> -->
{{nb}} | {{nb | euro}}
</div>
<p-toast></p-toast>


