<div>
    Title: <input pInputText [(ngModel)]="event.title" [disabled]="!isEditable"/><br>
    Adresse: <input pInputText [(ngModel)]="event.address" [disabled]="!isEditable"/><br>
    Date: <p-calendar [(ngModel)]="event.date" dateFormat="dd/mm/yy" [disabled]="!isEditable"></p-calendar><br>
    Prix: <p-inputNumber 
        [(ngModel)]="event.price" 
        mode="currency" 
        currency="EUR" 
        locale="fr-FR"  
        [disabled]="!isEditable"
        [minFractionDigits]="0" [maxFractionDigits]="2" 
        /><br>

    Type: <p-dropdown 
        [options]="eventTypes"
        [(ngModel)]="event.eventTypeId" 
        optionLabel="name" 
        optionValue="id"  
        [disabled]="!isEditable"
        placeholder="Sélectionnez un type"></p-dropdown>
    <br>
    description: <textarea pInputTextarea [(ngModel)]="event.description" [disabled]="!isEditable"></textarea><br>
    @if(isNew && isEditable) {
        <p-button (click)="create()" label="Créer"></p-button>
    }
    @else if (isEditable) {
        <p-button (click)="update()" label="Editer"></p-button>
    }
    @else {
        <p-button (click)="isEditable = true" label="Edition"></p-button>
    }
    
</div>